@import url('https://fonts.googleapis.com/css2?family=Exo:wght@200&family=Share+Tech+Mono&display=swap');

.formula {
    min-height: 20px;
    font-size: 20px;
    color: orange;
    text-align: right;
    vertical-align: text-top;
    line-height: 20px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    font-family: 'Exo', sans-serif;
}

.input {
    font-size: 29px;
    color: white;
    text-align: right;
    line-height: 35px;
    font-family: 'Exo', sans-serif;
}